$base-color: #1ABD97;
$color: white;
$active-color: rgb(23, 88, 65);
$product-background: #e9f0fd;
$global-padding: 60px;
$line-width: 30%;

@mixin listdecoration() {
    text-decoration: none;
    list-style: none;
    color: white;
}
@mixin header-container () {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-container() {
    display: flex;
    justify-content: center;
	align-items: center;
}
@mixin slider-position() {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
@mixin line-position() {
    position: relative;
    background-color: #1ABD97;
    width: 10%;
}
@mixin action-component() {
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px;
    font-size: 20px;
}
@mixin grid-container() {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@mixin zero {
    padding: 0;
    margin: 0;
}



.tel_items, .evelope_items, .login__items, .n-nav li, a {
    @include listdecoration();
}
.n-nav li {
    display: inline-block;
}
.header-nav li a:hover {
    color: $base-color;
}
.evelope, .login, .n-nav li, .nav__items {
    padding-left: 30px;
}
header {
    @include header-container();
    background-color: $base-color;
    font-size: 14px;
    font-weight: lighter;
}
#menu, .header__navbar label {
    display:none;
}
.contact, nav {
    display: flex;
    align-items: center;
}
.header__logo {
    font-size: 24px;
    &::first-letter {
        color: $base-color;
    }
}
.header {
    @include header-container();
    text-transform: uppercase;
    padding: 15px 0;
}
.nav__items{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    & a {
        text-decoration: none;
        list-style: none;
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }
    & :hover {
        color:$base-color;
    }   
    & :active {
        color: $active-color;
    }
}
.slide {
	background-image: url(картинки/SLIDER.png);
}
.slider_wrapper {
    position: relative;
    height: 357px;
    & .slide {
        @include slider-position();
        width: 100%;
        height: 357px;
        background-position: center top;
        background-size: cover;
        opacity: 0;
        transition: .9s;
        -ms-transition: .9s;
    }
    & .active {
        opacity: 1;
        transition: .7s;
    }
    & .arrow {
        position: absolute;
        top: 50%;
        margin-top: -22.5px;
        width: 55px;
        height: 55px;
        background-color: $base-color;
        color: $color;
        @include flex-container();
        flex-direction: column;
        cursor: pointer;
    }
}
.arrow svg {
    width: 30px;
    height: 50px;
    fill: $color;
}
.slider_wrapper {
    & .arrow.l {
        left: 15px;
    }
    & .arrow.r {
        right: 15px;  
    }
    & .flex {
        @include slider-position();
        @include flex-container();
        flex-direction: column;
        color: $color;
    }
}
.slider img {
    display: none;
}

.slider_wrapper {
    & .title {
        max-width: 100%;
        position: relative;
        transition: .7s;
        opacity: 0;
        font-size: 48px;
        padding: 25px 40px;
        margin: 0 0 13px;
        text-transform: uppercase;
        left: 80%;
        text-align: center;
    }
    & .button {
        max-width: 100%;
        position: relative;
        transition: .7s;
        opacity: 0;
        padding: 7px 20px;
        font-size: 14px;
        & a {
            border: 1px solid $base-color;
        }
    }
}
.colortext {
    color: $base-color ;
}
.slider_wrapper {
    & .slide.active {
        & .title {
            left: 0;
            opacity: 1;
        }
        & .button {
            left: 0;
            opacity: 1;
        }
    }
}
.article {
    @include flex-container();
	padding-top: $global-padding;
	flex-basis: 100%;
}
.article  {
    & .fas {
        font-size: 3em;
        &:hover {
            color: $base-color;
        }
    }
    & .far {
        font-size: 3em;
        &:hover {
            color: $base-color;
        }
    }
    & .aticle__header:hover {
        color: $base-color;
    }
}
.article__items {
    @include flex-container();
    flex-basis: 18%;
	flex-direction: column;
    padding-right:3em;
    text-align: center;
    & p {
        font-size: 14px;
	    text-align: center;
    }
    & h3 {
        padding-top: 1em;
	    font-size: 16px;
    }
}
.aticle__header {
    font-size: 20px;
}
.general_head {
    text-align: center;
    padding-top: 2rem;
}
.line {
    position: relative;
    top:5px;
    left:45%;
}
.first_line {
    @include line-position();
    height: 1px;
    bottom: 2px;
}
.second_line {
    @include line-position();
    height: 7px;
}  
.third_line {
    @include line-position();
    height: 1px;
    top: 2px;
}  
.product_wrap {
    @include flex-container();
	padding-top: $global-padding;
    flex-basis: 100%;
    border: none;
}
.product {
    background-color: $product-background;
    padding-bottom: 3rem;
}
.product__cart {
    flex-basis: 18%;
    display: flex;
    align-items: flex-end;
	flex-direction: column;
    padding-right:2em;
    box-sizing: border-box;
    position: relative;
}
.cart__items {
    width: 100%;
    min-width: 120px;
}
.actions {
    width: 100%;
    background: #323232;
    transition: .2s linear;
    box-sizing: border-box;
    &:hover {
        background-color: $base-color; 
        & .action__name {
            background-color: $base-color;
        }
        & .action__price {
            background-color: #7fd9c7;
        }
    }
}
.action__price {
    background-color: #8c8c8c;
    display: inline-block;
    width: 12%;
    padding: 1px 3px;
    transition: .2s linear;
    box-sizing: border-box;
}
.action__name {
    display: inline-block;
    width: 86.3%;
    padding: 1px 3px;
    transition: .2s linear;
    box-sizing: border-box;
}

.action-hover {
    @include flex-container();
    position: absolute;
    background-color:rgba(49, 53, 57, 0.3);
    width: 80%;
    top:10%;
    left: 3%;
    height: 80%;
    flex-direction: column;
    display: none;
}
.action__add {
    border: 1px solid $color;
    font-size: 12px; 
    padding: 5px 3px;
    margin-top: 3px;
    &:hover {
        background-color: #323232;
        transition: .2s linear;
    }
}
.action__like {
    @include action-component();
    &:hover {
        background-color: $base-color;
    }
}
.action__exchange {
    @include action-component();
    &:hover {
        background-color: $base-color;
    }
}
.action__clock {
    @include action-component();
    &:hover {
        background-color: $base-color;
    }
}
.action__sale  {
    position: absolute;  
    top: 3%;
    left:1%;
    display: flex;
    width: 84%;
}
.product__cart:hover {
    & .action__sale {
        display: none;
        transition: .2s linear; 
    }
    & .action-hover {
        position: absolute;
        background-color:rgba(49, 53, 57, 0.3);
        width: 80%;
        top:1%;
        left: 3%;
        height: 90%;
        @include flex-container();
        flex-direction: column;
    }
}
.new, .sale {
    border: 1px solid;
    font-size: 12px;
    padding: 1% 3%;
    display: flex;
}
.justsale {
    margin-left: auto;
    border: 1px solid;
    font-size: 12px;
    padding: 1% 3%;
    display: flex;
}
.new {
    margin-right: auto;
}
.cellwrapper {
    @include flex-container();
    padding-top: $global-padding;
    position: relative;
}
.quantity__wrapper {
    margin-right: 20%;
}
.cellwrapper_items {
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}
.cellname {
    padding: 1px 6px;
    border: 1px solid;
    border-radius:5px;
    cursor: pointer;
    position: relative;
    &:hover {
        background-color: $base-color;
        color: $color;
        border: 1px solid $base-color;
        transition: 1s;
        &~.quantity__wrapper .quantity {
            display: inline-block;
            color: $base-color;
            border: 1px solid black;
        }
    }
}
.quantity {
    border-radius: 50%;
    padding: 2px 10px;
    border: 1px solid;
    position: absolute;
    bottom: 30%;
    display: none;
}
.product3 {
    background-color: $product-background;
    & img {
        padding: 13% 8.5%;
        width: 90%;  
    }
}
.product8 {
    background-color: $product-background;
    & img {
        padding: 40% 1%; 
        }
}
.p-featured {
    background-color: $color;
    @include zero();
}
.bottomline {
    padding-bottom: $global-padding;
}
.endsale {
    background-image: url(escalator-283448_1920.png);
    text-align: center;
    color: $color;
    font-weight: 900;
    margin-top: $global-padding;
    & h1 {
        font-size: 40px;
    }
}
.endsale__header {
    padding: 70px 0;
}
.head_review, .email_wrapper {
    @include flex-container();
    text-align: center;
    flex-direction: column;
    padding-top: $global-padding;
}
.review {
    display: flex;
    width: 50%;
    padding-top: 20px;
}
.customer {
    padding-top: 20px;
}
.customer_name {
    color: $base-color;
    font-weight: bold;
}
.all_customer {
    padding-top: 20px;
    padding-bottom: $global-padding;
}
.all_customer img {
    display: inline-block;
    padding-right: 15px;
}
.newsletter {
    background-image: url(bg2decor-full.png);
}
.input-container {
    @include flex-container();
    padding:2px;
    background-color: $color;
    border-radius: 5px;
    & input {
        border: none;
        outline: none;
        flex-grow: 1;
        padding: 10px 5px;
    }
    &:focus-within {
        border: 1px solid blue;
    }
    & button {
        margin: 1px;
        background-color: $base-color;
        border: none;
    }
}
.fa-angle-double-right {
    font-size: 35px;
    color: $color;
}
.input_container_wrapper {
    width: 40%;
    padding-bottom: $global-padding;
    padding-top: 30px;
}
#white_line {
    & .first_line {
        background-color: $color;
    }
    & .second_line {
        background-color: $color;
    }
    & .third_line {
        background-color: $color;
    }
    
}
.email_text {
    color: $color;
    margin-top: -25px;;
}
.partner {
    background-color: $product-background;
}
.partner_items {
    @include flex-container();
	padding-top: $global-padding;
    flex-basis: 70%;
    padding-bottom: $global-padding;
    & img {
        display: inline-block;
        padding-right: 20px;
        width: 20%;
    }
}
.news_wrapper {
    @include flex-container();
    width: 90%;
    padding-top: $global-padding;
    padding-left:5%;
    padding-bottom: $global-padding;
}
.head_line {
    background-color: $base-color;
    color: $base-color;
    height: 2px;
    width: 30%;
    margin-top: -10px;
}
.news__text {
    padding-top: 15px;
    padding-bottom: 5px;
}
.news__items {
    & button {
        padding: 10px 25px;
        background-color: $base-color;
        border: none;
        border-radius: 5px;
        color: $color;
        font-size: 14px;
    }
    & h3 {
        width: 80%;
    }
    & img {
        width: 80%;
        min-width: 150px;
    }
}
.finalformwrapper {
    background-image: url(world-map.png);
}
.whiteheader {
    color: $color;
}
.finalform {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: $global-padding;
      padding-bottom: $global-padding;
}
.finalform__info {
    color: $color;
    padding-left: 10%;
    & h2 {
        font-size: 54px;
        font-weight: 100;
        padding:0;
        margin: 0;
        &::first-letter {
            color: $base-color;
        }
    }
    & h3 {
        font-weight: 100;
        padding:0;
    }
}
.formwrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-direction: column;
    margin-left:10px;
    & input {
        padding: 10px 20px;
        background: none;
        border: 1px solid $color;
        color: $color;
        margin-right: 20px;
        &::placeholder {
            color:$color;
        }
        &:hover {
            border: 1px solid $base-color;
            color: $base-color;
            ::placeholder {
                color: $base-color;
            }
        }
    }
}
.finalform_text {
    font-size: 12px;
    padding-bottom: 5px;
}
.finalform_text_first {
    font-size: 12px;
    padding-bottom: 15px;
    width: 80%;
}
.finalform_icons a {
    border: 1px solid #fff;
    padding: 5px;
    &:hover {
        background-color: $base-color;
        border: 1px solid $base-color;
    }
}
.finalform_icons {
    padding-top:10px;
}
#massage {
    width: 50%;
    padding-bottom: 10%;
}
.formwrapper button {
    padding: 10px 30px;
    width:15%;
    background-color: $base-color;
    border: none;
    color: $color;
    font-size: 14px; 
}
footer {
    background-color: black;
    text-align: center;
    color: white;
}
.footer {
    padding: 20px 0;
}
@media screen and (max-width:768px) and (min-width: 321px) {
    header, .header {
        flex-direction: column;
    }
    .evelope {
        padding-left: 10%; 
     }
     .menu {
         flex-direction: column;
     }
     .n-nav {
         & a {
            padding-right: 5px;
         }
         & li {
             padding:0%;
         }
     }
     .header__nav {
         @include zero();
         & li {
            padding-right: 2px;
            & a {
                @include zero();
                cursor: pointer;
            }
         }
     }
     .arrow svg {
        width: 25px;
        height: 35px;
        fill: $color;
    }
    .slider_wrapper {
        & .arrow {
            width: 35px;
            height: 35px;
        }
        & .title {
            font-size: 32px;
        }
    }
    .article, .product_wrap, .partner_items {
        @include grid-container();
        grid-template-rows: 1fr 1fr;
    }
    .cellwrapper {
        @include grid-container();
        grid-template-rows: 1fr;
        justify-items: center;
    }
    .product3 {
        width: 100%;
        & img {
            padding: 8% 0;
            width: 100%;
        }
    }
    .product8 {
        width: 100%;
        & img {
            padding: 42% 0;
        }
    }
    .partner_items img {
        width: 90%;
        padding-bottom: 10px;
    }
    .news_wrapper {
        flex-direction: column;
    }
    .finalform {
        @include grid-container();
        & button {
            width: 40%;
        }
    }
    .input_container_wrapper {
        width: 70%;
    }
    .first_line {
        width: $line-width;
    }
    .second_line {
        width: $line-width;    
    }
    .third_line {
        width: $line-width;
    }
    .line {
        left: 35%;
    }
}
@media screen and (max-width:320px) {
    #menu {
        display: none;
    }
    .header__navbar label{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: $base-color;
    }
    .header__nav {
        position: absolute;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 1s;
    }
    input:checked ~ .header__nav {
        opacity: 1;
        transform: translateY(0);
        position: relative;
        display: block;
        list-style: none;
        width:85%;
        left:0;
    }
    input:checked ~ .header__nav li {
        display: block;
        width:85%;   
    }
    .header {margin-left: 10%;}
   input:checked ~ .header__nav li a {  
        padding-left:0;
    }
    header, .header {
        display: inline-block;
        width: 100%;
        @include zero();
    }
    .evelope {
       padding-left: 10%; 
       text-align: center;
    }
    .menu {
        flex-direction: column;
    }
    .n-nav {
        & a {
           padding-right: 5px;
        }
        & li {
            padding:0;
        }
    }
    .header__nav li a {
        @include zero();
        cursor: pointer;
    }
    .slider_wrapper {
        & .arrow {
            width: 30px;
            height: 30px;
        }
        & .title {
            font-size: 26px;
        }
    }
    .arrow svg {
        width: 20px;
        height: 30px;
        fill: $color;
    }
    .article, .product_wrap, .cellwrapper, .partner_items, .news_wrapper, .finalform {
        flex-direction: column;
    }
    .endsale {
        & h1 {
            font-size: 26px;
        }
        & h2 {
            font-size: 18px;
        }
    }
    .input_container_wrapper {
        width: 70%;
    }
    .partner_items img {
        width: 60%;
        display: inline-block;
        padding-bottom: 5px;
    }
    .product__cart, .news__items {
        padding-bottom: 10px;
    }
    .formwrapper {
        padding-left: 10px;
        padding-top:20px;
        & button {
            width: 40%;
        }
        & input {
            width: 50%;
        }
    }
    .footer {
        font-size: 12px;
    }
    .first_line {
        width: $line-width;
    }
    .second_line {
        width: $line-width;    
    }
    .third_line {
        width: $line-width;
    }
    .line {
        left: 35%;
    }
   .general_head h1 {
       font-size: 20px;
   }
}